@import 'start-engine-button.scss';

.controls {
    width: 100%;
    background-color: gray;
    padding: 20px;
 
    .sliders {
        // margin-top:50px;
    }

    .intro {
        font-size: 18px;
        margin: 0px;
    }
}
