@import 'fx.scss';

.App-footer {
    @include bgMain();
    margin-top: 100px;
    min-height: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    .header-content {
        width: 80%;
        margin: auto;
        a {
            text-decoration: none;
        }
        a:hover {
            color: rgb(255, 240, 23) !important;
        }
        .footer-info {
            display: block;
            text-align: right;
            padding: 0 10%;

            font-size: calc(10px + 1vmin);
            line-height: calc(10px + 1vmin);
        }

    }

}
