@mixin dropShadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
@mixin textShadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
@mixin radialBg ($color: white) {
    background-image: radial-gradient( rgb(108, 179, 250),rgb(26, 58, 114), rgb(12, 8, 49) 80%);
}
@mixin radialBgGood ($color: white) {
    background-image: radial-gradient( rgb(108, 250, 181),rgb(26, 114, 66), rgb(8, 49, 23) 80%);
}
@mixin radialBgBad ($color: white) {
    background-image: radial-gradient( rgb(250, 108, 108),rgb(114, 26, 26), rgb(49, 8, 8) 80%);
}
@mixin bgMain () {
    background-image: linear-gradient(to bottom, rgb(108, 179, 250),rgb(26, 58, 114), rgb(12, 8, 49));
}
