@import 'fx.scss';

.App-header {
    @include bgMain();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    .header-content {
        width: 80%;
        margin: auto;
        a {
            text-decoration: none;
        }
        a:hover {
            color: rgb(255, 240, 23) !important;
        }

        .header-title {
            font-size: calc(5px + 2vmin);
            line-height: calc(30px + 2vmin);
        }

        .header-info {
            display: block;
            text-align: right;
            padding: 0 13%;

            font-size: calc(2px + 2vmin);
            line-height: calc(2px + 2vmin);
        }

        .header-contact {
            display: block;
            text-align: right;
            padding: 0 13%;
            font-size: calc(-2px + 2vmin);
            line-height: calc(-2px + 2vmin);

            a {
                color: white;
            }
        }
    }

}
