.App {
    text-align: center;
}
 

@import './slider.scss';
@import './header.scss';
@import './controls.scss';
@import './panel.scss';
@import './footer.scss';
@import './power-block-visualizer.scss';
.bold {
    font-weight: 600;
}

.dash {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px auto auto;
    width: 80%;
    justify-content: center;
}
