.panel {
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: calc(0px + 2vmin);

    .panel-item {
        text-align: left;
        border: 1px gray solid;
        padding: 5px 5px 5px 20px;

        .title {
            font-weight: 600;
            font-size: calc(2px + 2vmin);
            line-height: 20px;
        }

        ul {
            list-style-type: none;
            font-size: calc(0px + 2vmin);
            li {
                margin-left: -20px;
                span {
                    padding-left: 10px;
                }
            }
        }
    }

    .warning {
        color: red;
        text-shadow: 0 0 5px rgb(255, 171, 171);
    }

    .note {
        color: rgb(0, 255, 115);
        text-shadow: 0 0 6px rgb(185, 255, 171);
    }
}
