.power-block-visualizer {
    width: 100%;
    opacity: 0.8;
    display: block;
    p {
        margin-bottom: 30px;
    }
    .visualizer-container {
        background-color: rgb(61, 61, 61);

        width: 320px;
        display: flex;
        flex-direction: row;
        margin: auto;
        .cylinder {
            width: 30px;
            height: 40px;
            margin: 0 5px;
            display: block;
            background-color: rgb(98, 98, 98);
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .piston {

                position: absolute;
                background-color: rgb(26, 26, 26);
                width: inherit;
                height: 40%;
                top: 0;
                justify-content: center;
            }

            .coil {
                position: absolute;
                background-color: rgb(97, 97, 97);
                width: 60%;
                height: 30%;
                top: -20px;
            }

            .sparkplug {
                position: absolute;
                background-color: rgb(32, 32, 32);
                width: 30%;
                height: 30%;
                top: -10px;
            }
        }
        .piston:after {
            width: 10px;
            height: 30px;
            content: "";
            background-color: rgb(133, 133, 133);
            display: block;
            top: 100%;
            position: absolute;
            left: 10px;
        }

        .cylinder[stroke="1"] {
            //power
            background-color: rgba(255, 38, 0, 0.741);
        }

        .cylinder[stroke="2"] {
            //exhaust
            background-color: rgba(0, 83, 102, 0.6);
        }

        .cylinder[stroke="3"] {
            //intake
            background-color: rgba(0, 115, 255, 0.6);
        }

        .cylinder[stroke="0"] {
            //compression
            background-color: rgba(251, 255, 0, 0.6);
        }

        .cylinder[stroke="0"],
        .cylinder[stroke="2"] {

            .piston {
                top: 0;
            }
        }

        .cylinder[stroke="3"],
        .cylinder[stroke^="1"] {
            .piston {
                top: 30px;
            }
        }

        .coil[active="true"] {
            background-color: rgb(42, 60, 255);
        }

        .sparkplug[active="true"] {
            background-color: rgb(245, 66, 66);
        }
    }
}
