.slider {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // align-items: stretch;
    // padding: 10px;
    input {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        width: 70%;
    }
}
