@import 'fx.scss';
button.start-engine {
    margin: 20px;
    color: white;
    font-size: 30px;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    @include radialBg();
    @include dropShadow();
    @include textShadow();

}

button.start-engine.Stop {
    @include radialBgBad(red);
}

button.start-engine.Start {
    @include radialBgGood(red);
}
